<a href="https://colab.research.google.com/github/banshita209/Python-with-Django/blob/master/DAY2_AkashTechnolabs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Comment in python can be done using:

*   #
*   `

In [ ]:
#hello
print(hello)

variables in python:


*   no need to decaler variable name
*   " or ' both can be used for strings
*   we can change value of variable after assigning it

In [3]:
name="banshita"
print(type(name))
print(name)
name="gangwar"
print(name)
name=123
print(type(name))

<class 'str'>
banshita
gangwar
<class 'int'>

In [7]:
#assigning value to multiple variable in single line
a,b,c=10,20,30
print(a)
print(b)
print(c)

10
20
30

Number datatype:

1.   int
2.   float
3.   complex number

type(): to check datatype of variable:


---
isinstance() - is used to check if the given variable is the instance of given type.

In [9]:
n=10
print(type(n))
n2=10.5
print(type(n2))
print("wether n2 is a int or not :",isinstance(n2,int))

<class 'int'>
<class 'float'>
wether n2 is a int or not False

In [10]:
n=10+2j
print(type(n))

<class 'complex'>

string

*   silicing
*   List item

In [15]:
n="banshita"
print(n)
print("---slicing---")
print(n[2:5])
print(n[2:])
print(n[:5])
print(name*2)

banshita
---slicing---
nsh
nshita
bansh
246

# list

*   can add multiple data type value
*   [] is used
*

In [19]:
l=[1,2,"banshita"]
print(l)
print(type(l))
#slicing in list
print(l[1:])
print(l[:3])

[1, 2, 'banshita']
<class 'list'>
[2, 'banshita']
[1, 2, 'banshita']

# tuple


*   immutable
*   () is used

In [25]:
t=(1,2,3,"banshita")
print(t)
print(type(t))
print(t[2])
print(t[:3])
print(t[2:])
print(t[1:3])

#this statemnt generates error
#t[2]=98

(1, 2, 3, 'banshita')
<class 'tuple'>
3
(1, 2, 3)
(3, 'banshita')
(2, 3)

# Dictionary


*   store value in key value pair

In [28]:
d={1:"banshita", 2:"gangwar","cllg":"ASOIT"}
print(d)
print(type(d))
print("name:",d[1])

{1: 'banshita', 2: 'gangwar', 'cllg': 'ASOIT'}
<class 'dict'>
name: banshita