<a href="https://colab.research.google.com/github/banshita209/Python-with-Django/blob/master/Day3_AkashTechnoLabs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Input from user

In [1]:
n=input("enter something")
print(n)

enter somethingbanshita
banshita

In [2]:
#sum of 2 no
n1=input("enter num1")
n2=input("enter num2")
ans=n1+n2
print("sum=",ans)

enter num12
enter num23
sum= 23

input method return value in string so we need to tyoe cast the value to other data type

In [3]:
#sum of 2 no
n1=int(input("enter num1"))
n2=int(input("enter num2"))
ans=n1+n2
print("sum=",ans)

enter num13
enter num24
sum= 7

#conditional statement

*   if
*   if..else
* elseif
*nested if

In [4]:
n1=10
n2=20
if n1>n2:
  print(n1," is greater")
else:
  print(n2," is greater")

20  is greater