<a href="https://colab.research.google.com/github/banshita209/Python-with-Django/blob/master/Day4_AkashTechnolabs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function 
* built in function
    * eg: range
* user define function

In [1]:
def myfunction():
  print("hello banshita")

#no agru no return
myfunction()
myfunction()

hello banshita
hello banshita

In [2]:
def myfunction(name):
  print("hello ",name)

#with agru no return
myfunction("banshita")
myfunction("vidhi")

hello  banshita
hello  vidhi

In [3]:
def myfunction(name):
  print("hello ",name)
  return name

#with agru return
name = myfunction("banshita")
print("name :",name)

hello  banshita
name : banshita

In [6]:
#one return statemnt can return multiple values
def myfunction():
  name="banshita"
  cllg="ASOIT"
  return name,cllg

#no agru no return
name,cllg=myfunction()
print("name :",name)
print("Cllg :"+cllg)

name : banshita
Cllg :ASOIT

# function agrument
* default argument
* keyword argument
* variable length argument
    * "*" for non keyword argumnent
    * "**"  for keyword argument

In [10]:
#default agrument

def sum(n1=89,n2=10):
  print("sum :",n1+n2)

sum(10,20)
sum(11)
sum()

sum : 30
sum : 21
sum : 99

In [11]:
def sum(a,b):
  print("Sum : ",a+b)

#variable need to be same
sum(b=10,a=20)

Sum :  30

In [13]:
def sum(*n1):
  sum=0
  for i in n1:
    sum+=i
  print("sum :",sum)

sum(34,2)
sum(34,56,1,2)

sum : 36
sum : 93

In [18]:
def myfunction(**arg):
  for i, j in arg.items():
    print(i,j)

myfunction(name='banshita',cllg='asoit')

name banshita
cllg asoit

#module
* import

#operator
* arithmetic operator
* comparison operator
* logical operator
* membership operator
    * 'in' and 'not in'
* identitiy operator
    * 'is' and 'is not'

In [19]:
l=[12,23,4,5,7,8,3]

print(10 in l)
print(10 not in l)
print(12 in l)
print(23 not in l)

False
True
True
False

In [20]:
x=20
y=20
print(x is y)
print(x is not y)

True
False